/* hello le Monde C'est mon fichier Marwan
 je vous conseille de ne pas tocher sinon ça casse la page ou je traville
 merci d'avance
 braves graçaons
 */

@media only screen and (max-device-width: 1440px) {
    .day {
        width:100%;
        font-size: 80px;
    }
}
.week {
    background-color: snow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px;
    margin: 2px;

}
.day {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2px;
    margin: 2px;
}
.hour {
    text-align: center;
    background-color: white;
    padding: 4px;
    margin: 2px;
    border-style: solid;
}
.dayheader {
    background-color: lightskyblue;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 4px;
}

.horizontal{
    font-size: 25px;
    color: black;
    text-align: center !important;
    font-weight: bold;
    writing-mode: vertical-rl !important;
    text-orientation: upright !important;

}

.center{
    text-align: center;
}
.nuitcolor{
    font-size: 25px;
    color: white;
    background-color: navy;
}
.over {

    color: black;
    text-decoration: none;
}
.over:hover {

    color: black;
    background-color: white;
    text-decoration: none;

}
.weekhead{
    background-color: #d7fffd;
    border-style: solid;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 3px;
}
.weeknumber {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px;
    margin: 2px;

}