.visible{
    visibility: visible ;
}
.hidden{
    visibility: hidden;
}
.ok{
    background-color: lightgreen;
}
.no{
    background-color: lightcoral;
}

.sectiontitle{
    padding: 5px;
    font-size: x-large;
    font-weight: bold;
}

.table .actionname {
    width: 200px;
}

.table .ackcell {
    width: 40px;
}



/** Ajouté par Paola Costa **/
.formTeamNova {
    width: 80px;
}

.rollingList {
    padding-left:40px;
    margin-right: 50px;
}

.flex{
    display:flex;
    align-content: space-between;
    align-items: center;
}

/** ajouté par Michael Gogniat **/

.carry .carried {
    display: inline;
}

.carry .addCarry {
    display: none;
}

.notCarry .carried {
    display: none;
}

.notCarry .addCarry {
    display: none;
}

.notCarry .addCarry:hover {
    display: inline;
}

.notCarry:hover .addCarry {
    display: inline;
}



