.visible{
    visibility: visible ;
}
.hidden{
    visibility: hidden;
}
.ok{
    background-color: lightgreen;
}
.no{
    background-color: lightcoral;
}

.sectiontitle{
    padding: 5px;
    font-size: x-large;
    font-weight: bold;
}

.table .actionname {
    width: 200px;
}

.table .ackcell {
    width: 40px;
}
